body {
    margin: 2%;
}
.navBar{
    width: 100%;
}
.highScores{
    color: blueviolet;
    float: left;
}
.timeText{
    float: right;
}
.navColor{
    background-color: white;
}
.container{
    margin-top: 3%;
    width: 60%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    /*padding-left: 20%;*/
}
.mainMenu h1{
    font-size: 55px;
}
.container p{
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
}
.container button{
    background-color: darkblue;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
}
.container button:active{
    background-color: blueviolet;
}
.buttonStart{
    height: 25%;
    width: 20%;
    font-size: 25px;
}
#question{
    text-align: left;
}
.answerBtn{
    height: 25%;
    width: 35%;
    font-size: 25px;
    display: block;
    margin-bottom: 1%;
    text-align: left;
}
.finalPage{
    text-align: left;
}
.finalPage label{
    font-size: larger;
}
.submitBtn{
    height: 25%;
    width: auto;
    font-size: larger;
    text-align: left;
}
#response{
    text-align: left;
    font-size: 30px;
    color: gray;
}
#highScoresPage{
    text-align: left;
}
#highScoresPage select{
    display: block;
    background-color: lavender;
    color: black;
    width: 80%;
    height: 30px;
    margin-bottom: 5px;
}
#highScoresPage button{
     display: inline;
}
.hide{
    display: none;
}