body {
    margin: 2%;
}
.navBar{
    width: 100%;
}
.highScores{
    text-decoration: none;
    color: blueviolet;
    float: left;
}
.highScores:hover{
    cursor: pointer;
}
.timeText{
    float: right;
}
.navColor{
    background-color: white;
}
.container{
    margin-top: 3%;
    width: 60%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    /*padding-left: 20%;*/
}
.container p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
}
.container button{
    background-color: darkblue;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
}
.container button:active{
    background-color: blueviolet;
}
.mainMenu h1{
    font-size: 55px;
}
.buttonStart{
    height: 25%;
    width: 25%;
    font-size: 25px;
}
#question{
    text-align: left;
}
.answerBtn{
    height: 25%;
    width: 50%;
    font-size: 24px;
    display: block;
    margin-bottom: 1%;
    text-align: left;
}
.finalPage{
    text-align: left;
}
.finalPage label{
    font-size: 24px;
}
.submitBtn{
    width: 20%;
    height: 25%;
    font-size: larger;
    text-align: center;
}
#response{
    text-align: left;
    font-size: 30px;
    color: gray;
}
#highScoresPage{
    text-align: left;
}
#highScoresPage select{
    display: block;
    background-color: lavender;
    color: black;
    width: 80%;
    height: 30px;
    margin-bottom: 5px;
}
#highScoresPage button{
     display: inline;
}
.hide{
    display: none;
}

/*DIFFERENT SIZE SCREENS*/
@media only screen and (max-width: 1000px) {
    .mainMenu h1{
        font-size: 40px;
    }
    .container{
        width: 100%;
    }
    .container p{
        font-size: 24px;
    }
    #questionContainer{
        font-size: 24px;
    }
    .answerBtn{
        font-size: 20px;
        width: 60%;
    }
    #response{
        width: 60%;
        font-size: 26px;
    }
  }

  @media only screen and (max-width: 600px) {
    .mainMenu h1{
        font-size: 34px;
    }
    .container{
        width: 100%;
    }
    .container p{
        font-size: 20px;
    }
    .buttonStart{
        font-size: 20px;
    }
    #questionContainer{
        font-size: 20px;
    }
    .answerBtn{
        width: 80%;
        font-size: 18px;
    }
    #response{
        font-size: 24px;
    }
    #highScoresPage select{
        width: 100%;
    }
  }

  @media only screen and (max-width: 400px){
    .answerBtn{
        width: 100%;
    }
  }